body {
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f0f2f5;
}

input :focus {
  outline: none;
  border-color: #1877f2;
  background-color: #e4e6eb;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #1877f2;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #166fe5;
}

.bg{

}